<div class="container">
    <div class="card-container">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="input-no-text">
                <label for="id_document_type">Tipo documento </label>
                <select id="id_document_type" formControlName="id_document_type">
                <option *ngFor="let type of document_id_types" [value]="type['id']">{{ type['document_type'] }}</option>
                </select>
            </div>
            <div>
                <input type="text" id="document_number" formControlName="document_number" placeholder="Número de Documento"/>
            </div>
            <div>
                <input type="text" id="names" formControlName="names" placeholder="Nombres"/>
            </div>
            <div>
                <input type="text" id="last_name" formControlName="last_name" placeholder="Primer apellido"/>
            </div>
            <div>
                <input type="text" id="middle_name" formControlName="middle_name" placeholder="Segundo apellido"/>
            </div>
            <div class="input-no-text">
                <label for="born_date">Nacimiento </label>
                <input type="date" id="born_date" formControlName="born_date" class="form-control" />
            </div>
            <div class="input-no-text">
                <label for="id_city">Ciudad </label>
                <select id="id_city" formControlName="id_city">
                <option *ngFor="let city of cities" [value]="city['id']">{{ city['name'] }}</option>
                </select>
            </div>
            <div>
                <input type="email" id="email" formControlName="email" placeholder="Email"/>
            </div>
            <div>
                <input type="password" id="password" formControlName="password" placeholder="Contraseña"/>
            </div>
            <p *ngIf="showBadDataMessage" class="invalid-data-text">Alguno de los datos no es válido <br> o está repetido</p>
            <button class="btn-submit" type="submit"
                [disabled]="!registerForm.valid"
                [ngClass]="{'btn-disabled': !registerForm.valid}">Registrarme</button>
        </form>
        <button class="btn-secundary" routerLink="/login">Iniciar sesión</button>
    </div>
</div>

