.search-bar {
    background-color: #f0f0f0;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.search-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.btn-logout {
    background-color: #007bff;
    width: 70px;
    height: 30px;
}
  
.search-title {
    font-size: 24px;
    margin: 0;
}

.search-form {
    display: flex;
    flex-direction: row;
}

.search-field {
    margin: 10px;
}

.users-info {
    padding: 20px;
}
  
.users-title {
    color: #fff;
    font-size: 28px;
    margin-bottom: 20px;
}

.info-no-users {
    color: #fff;
}

.cards-container {
    display: flex;
    column-gap: 20px;
}
  
.user-card {
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
  
.user-name {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.user-info {
    font-size: 16px;
}
  
.user-info strong {
    color: #000;
    font-weight: 400;
}
  
.delete-button {
    background-color: #ff3333;
    color: #fff;
    width: 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 200ms;
    &:hover {
        background-color: #ff0000;
        transition: all 200ms;
    }
}