<div class="search-bar">
    <div class="search-nav">
        <h2 class="search-title">Búsqueda de Usuarios</h2>
        <button class="btn-secundary btn-logout" (click)="signOut()">Salir</button>
    </div>
    <form class="search-form" [formGroup]="filterForm" (ngSubmit)="onSubmitFilterForm()">
        <div class="search-field">
            <label for="document_number">ID: </label>
            <input type="text" id="document_number" formControlName="document_number" />
        </div>
        <div class="search-field">
            <label for="names">Nombre: </label>
            <input type="text" id="names" formControlName="names" />
        </div>
        <div class="search-field">
            <label for="last_name">Apellido: </label>
            <input type="text" id="last_name" formControlName="last_name" />
        </div>
        <div class="search-field">
            <label for="id_city">Ciudad: </label>
            <select id="id_city" formControlName="id_city">
            <option *ngFor="let city of cities" [value]="city['id']">{{ city['name'] }}</option>
            <option [value]="0">Todas</option>
            </select>
        </div>
    </form>
</div>
  
<div class="users-info">
    <h1 class="users-title">Usuarios</h1>
    <article class="cards-container">
        <div class="card-container user-card" *ngFor="let user of users">
            <div class="user-details">
              <h3 class="user-name">{{ user['names'] }} {{user['last_name']}} {{user['middle_name']}}</h3>
              <div class="user-info">
                <p><strong>Fecha de Nacimiento:</strong> {{ user['born_date'] }}</p>
                <p><strong>Tipo de Documento:</strong> {{ getDocumentTypeById(user['document_type']) }}</p>
                <p><strong>Número de Identificación:</strong> {{ user['id_number'] }}</p>
                <p><strong>Ciudad de Nacimiento:</strong> {{ getCityNameById(user['born_city']) }}</p>
              </div>
            </div>
            <button *ngIf="user['id'] != sesion_user_id" class="delete-button" (click)="deleteUSer(user['id'])">Eliminar</button>
          </div>
        </article>
    <div *ngIf="users.length === 0">
        <p class="info-no-users">No se encontraron usuarios para el filtro indicado</p>
    </div>
</div>
  