<div class="search-bar">
    <h2 class="search-title">Búsqueda de Usuarios</h2>
  </div>
  
  <div class="users-info">
    <h1 class="users-title">Usuarios</h1>
    <div class="user-card" *ngFor="let user of users">
      <div class="user-details">
        <h3 class="user-name">{{ user['names'] }} {{user['last_name']}} {{user['middle_name']}}</h3>
        <div class="user-info">
          <p><strong>Fecha de Nacimiento:</strong> {{ user['born_date'] }}</p>
          <p><strong>Tipo de Documento:</strong> {{ getDocumentTypeById(user['document_type']) }}</p>
          <p><strong>Número de Identificación:</strong> {{ user['id_number'] }}</p>
          <p><strong>Ciudad de Nacimiento:</strong> {{ getCityNameById(user['born_city']) }}</p>
        </div>
      </div>
    </div>
</div>
  