<div class="container">
    <div class="card-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="field">
                <input type="text" id="username" formControlName="username" placeholder="Usuario o email"/>
            </div>
            <div class="field">
                <input type="password" id="password" formControlName="password" placeholder="Contraseña"/>
            </div>
            <p *ngIf="showBadCredentialsMessage" class="invalid-data-text">Las credenciales son inválidas</p>
            <button class="btn-submit" type="submit"
                [disabled]="!loginForm.valid"
                [ngClass]="{'btn-disabled': !loginForm.valid}">Iniciar sesión</button>
        </form>
        <button class="btn-secundary" routerLink="/register">Registrarme</button>
    </div>
</div>
